body {
    background-color: var(--branco);
}

header {
    position: relative; 
    z-index: 100;       
}

/* Google maps */

#map {
    height: 400px;
    width: 100%;
    position: relative; 
    z-index: 1;
}

.flag-icon {
    position: relative;
    left: 10px;
}

.material-symbols-outlined {
    font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 24
}

/* Bicicletas e patinetes disponiveis */


.container_qtd {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    gap: 1.5rem;
    padding: 1rem 4rem 5rem 4rem;
}

.btn-locar {
    background-color: #344CB7;
    border: 1px solid var(--branco);
    border-radius: 4px;
    padding: 0.7rem 1.5rem;
    box-shadow:
        -7px -7px 20px 0px #fff9,
        -4px -4px 5px 0px #fff9,
        7px 7px 20px 0px #0002,
        4px 4px 5px 0px #0001;
    color: var(--branco);
    font-weight: 600;
    font-size: 0.8rem;
    cursor: pointer;
}

.container_qtd-lista {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 5rem;
    font-family: var(--font-principal);
    margin-top: 0.8rem;
    
}

.estacoes_qtd-item {
    position: relative;
    display: flex;
    flex-direction: column;
    position: relative;
    background-color: var(--branco);
    padding: 1rem 5rem 0.8rem 0.8rem;
    box-shadow:
        -7px -7px 20px 0px #fff9,
        -4px -4px 5px 0px #fff9,
        7px 7px 20px 0px #0002,
        4px 4px 5px 0px #0001;
    border-radius: 5px;
    border: 1px solid #E0E0E0;
}

.estacoes_qtd-nome {
    position: absolute;
    font-size: 0.8rem;
    background-color: var(--verde-escuro);
    padding: 5px 10px;
    border-radius: 3px;
    border: 1px solid #E0E0E0;
    top: -10px;
    left: 5px;
    width: 100px;
    color: var(--branco)
}

.estacoes_qtd-texto {
    margin-top: 0.5rem;
    font-size: 0.8rem;
    text-align: start;
    color: var(--preto);
}


/* Retirada e devolucao */

.modal-container {
    display: none; 
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    /* Centraliza o formulário */
    justify-content: center;
    align-items: center;
    z-index: 1000; /* Garante que fique na frente de tudo */
}

/* Classe que será adicionada via JS para mostrar o modal */
.modal-container.active {
    display: flex;
}

.modal-close-btn {
    position: absolute;
    top: 15px;
    right: 20px;
    cursor: pointer;
}

.container_locacao-form {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
    background-color: var(--branco);
    padding: 4rem 6rem;
    margin-bottom: 4rem;
    border-radius: 15px;
    
}


.nome-label,
.codigo-label {
    font-family: var(--font-principal);
    color: var(--preto);
    font-size: 1.1rem;
    
}

.estacao-input,
.codigo-input {
    border: 1px solid var(--preto);
    background-color: var(--cinza-claro);
    border-radius: 5px;
    padding: 1rem 0;
    color: var(--preto);
    text-align: center;
    width: 200px;
}

.estacao-input::placeholder {
    text-align: center;
    font-size: 1.3rem
}

.codigo-input::placeholder {
    text-align: center;
    font-size: 1.3rem
}

.locacao-opcoes {
    background-color: var(--cinza-claro);
    padding: 0.2rem 0;
    width: 200px;
    text-align: center;
    border-radius: 6px;
    color: var(--preto);
}

.btn-submit {
    width: 200px;
    padding: 0.5rem 0;
    background-color: var(--verde);
    border: none;
    border-radius: 10px;
    color: var(--branco);
    font-family: var(--font-principal);
    font-weight: 500;
}

hr {
    height: 0.8px;
    border: 0 none;
    background-color: var(--preto);
    margin: 0;
    padding: 0;
}

/* Responsividade */

@media screen and (max-width: 769px) {

    .estacoes_titulo {
        font-size: 1.5rem;
    }

    /* Maps */

    #map {
        height: 300px;
        width: 100%;
    }

    /* Bicicletas e patinetes disponiveis */

    .container_qtd {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 1rem 1.5rem; 
        margin: 0;
        box-sizing: border-box;
    }

    .container_qtd-lista {
        display: flex;
        flex-direction: column;
        gap: 0.4rem;
    }

    .estacoes_qtd-item {
        display: flex;
        flex-direction: column;
        
        max-width: 100%; 
        box-sizing: border-box;
    }

    /* Retirada e devolucao */

    .container_locacao-form {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 3rem 2rem;
        border-radius: 15px;
    }

    .nome-label,
    .codigo-label {
        font-size: 1rem;
    }

    .estacao-input,
    .codigo-input {
        padding: 0.5rem 0;
        width: 200px;
    }

    .estacao-input::placeholder {
        font-size: 1rem
    }

    .codigo-input::placeholder {
        font-size: 1rem
    }

}

@media screen and (max-width: 1024px) {

    /* Bicicletas e patinetes disponiveis */

    .container_qtd {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0 1rem 0 1rem;
    }

    .container_qtd-lista {
        display: flex;
        flex-direction: row;
        gap: 4rem;
    }

    .estacoes_qtd-item {
        display: flex;
        flex-direction: column;
    }
}