/* Rodape */

hr {
    height: 1px;
    border: 0 none;
    background-color: var(--preto);
    margin: 0;
    padding: 0;
}

.rodape {
    background-color: var(--branco);
    display: flex;
    justify-content: space-around;
    padding: 5rem 2rem 2rem 2rem;
    gap: 3rem;
    font-family: var(--font-principal);
    color: var(--azul-escuro);
    font-weight: 500;
    font-size: 0.9rem;
}

.rodape_logo-rodape {
    display: flex;
    align-items: center;
    gap: 3px;
}

.icone_logo-rodape {
    height: 57px;
    width: 61px;
}

.nome_logo-rodape {
    color: var(--preto);
    font-weight: bold;
    font-size: 1.3rem;  
}

.rodape_titulo-coluna {
    font-size: 1.2rem;
    font-weight: 700;
}

.rodape_icone-contatos {
    width: 15px;
    margin-right: 1rem;
}

.rodape_numero {
    display: flex;
    align-items: center;
}

.rodape_email {
    display: flex;
    align-items: center;
}

.rodape_link {
    text-decoration: none;
    transition: 0.2s ;
}

.rodape_link:hover{
    color: var(--verde);
    font-weight: 700;
    transition: 0.2s;
}

.rodape_navegacao, 
.rodape_contatos,
.rodape_empresa {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.rodape_redes {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 1rem;
}

.rodape_img-redes {
    cursor: pointer;
}

@media screen and (max-width: 769px) {
    .rodape {
        justify-content: center;
        align-items: start;
        flex-direction: column-reverse;
    }
    .rodape_redes{
        justify-content: center;
        gap: 1rem;
    }
}

@media screen and (min-width: 600px){
    .rodape {
        flex-direction: row;
        flex-wrap: wrap;
        align-items: start;
        gap: 5rem;
    }
}