/* cabeçalho */

.cabecalho_container {
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0 1rem;
    background-color: var(--branco);
}


.cabecalho_logo {
    display: flex;
    align-items: center;
    gap: 3px;
    margin-left: 1rem;
    padding: 1rem 0;
}

.nome_logo-cabecalho {
    color: var(--preto);
}


.cabecalho_links-lista {
    display: flex;
    gap: 15rem;
}

.link_item {
    display: flex;
    align-items: center;
    margin-right: 0;
    text-decoration: none;
    color: var(--preto);
    padding-bottom: 3px;
}

.links_navegacao {
    display: flex;
    gap: 2rem;
}

.links_acesso {
    display: flex;
    gap: 2rem;
}

.menu-hamburguer {
    display: none;
}

.loginRes,
.cadastrarRes {
    display: none;
}

.login {
    text-decoration: none;
    color: var(--preto);
    font-weight: 500;
    border: 1.5px solid var(--preto);
    padding: 0.1rem 0.3rem;
    border-radius: 8px;
    box-shadow:
        -7px -7px 20px 0px #fff9,
        -4px -4px 5px 0px #fff9,
        7px 7px 20px 0px #0002,
        4px 4px 5px 0px #0001;
}

.cadastrar {
    text-decoration: none;
    color: var(--branco);
    font-weight: 500;
    border: 2px solid var(--branco);
    padding: 0.1rem 0.3rem;
    border-radius: 8px;
    background-color: var(--verde);
    box-shadow:
        -7px -7px 20px 0px #fff9,
        -4px -4px 5px 0px #fff9,
        7px 7px 20px 0px #0002,
        4px 4px 5px 0px #0001;
}

.perfilRes,
.sairRes {
    display: none;
}

.perfil {
    display: flex;
    align-items: center;
    gap: 5px;
    text-decoration: none;
    color: var(--preto);
    font-weight: 500;
    border: 1.5px solid var(--preto);
    padding: 0.1rem 0.8rem;
    border-radius: 8px;
    box-shadow:
        -7px -7px 20px 0px #fff9,
        -4px -4px 5px 0px #fff9,
        7px 7px 20px 0px #0002,
        4px 4px 5px 0px #0001;
}

.sair {
    text-decoration: none;
    color: var(--branco);
    font-weight: 500;
    border: 2px solid var(--branco);
    padding: 0.1rem 0.8rem;
    border-radius: 8px;
    background-color: #b40707;
    box-shadow:
        -7px -7px 20px 0px #fff9,
        -4px -4px 5px 0px #fff9,
        7px 7px 20px 0px #0002,
        4px 4px 5px 0px #0001;
}

/* Responsividade */

@media screen and (max-width: 930px) {
    .cabecalho_links-lista {
        gap: 5rem;
    }
}

@media screen and (max-width: 850px) {

    .menu-hamburguer {
        display: block;
        padding: 0.5rem 1rem;
    }

    .menu-hamburguer-preto {
        background-color: var(--preto);
        padding: 1rem 2rem;
        text-align: center;
        right: 0;
        position: absolute;
        border: 1px solid var(--preto);
    }

    .cabecalho_container {
        position: relative;
        justify-content: space-between;
    }

    .cabecalho_links-lista {
        display: flex;
        flex-direction: column;
        position: absolute;
        background-color: var(--preto);
        top: 90%;
        right: 0;
        display: none;
        width: 250px;
        margin-right: 1.5rem;
        border-radius: 5px;
    }

    .link-lista-item {
        padding: 0;
    }

    .link-lista-item:hover {
        background-color: var(--verde);
    }

    .link_item {
        color: var(--branco);
        font-size: 1.3rem;
        width: 100%;
        margin-right: 0;
        display: block;
        padding: 1.5rem 0;
        text-align: center;
    }

    .loginRes,
    .cadastrarRes,
    .perfilRes,
    .sairRes {
        display: block;
    }

    .login,
    .cadastrar,
    .perfil,
    .sair {
        display: none;
    }

    .links_navegacao,
    .links_acesso {
        display: flex;
        flex-direction: column;
        width: 100%;
        list-style: none;
        padding: 0;
        margin: 0;
        gap: 0;
    }
}