:root {
    --font-principal: "Roboto", sans-serif;
    --branco: #f5f5f5;
    --preto: #021526;
    --azul-escuro: #001f3f;
    --verde-agua: #98ded9;
    --verde-claro: #edfffa;
}

* {
    font-family: var(--font-principal);
    font-weight: 400;
    color: var(--branco);
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--branco); /* Azul escuro */
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

/* Estilos das Bandeiras */
.planos {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin-top: 50px;

    @media (max-width: 1024px) {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 30px;
    }
}

.plano {
    width: 280px;
    background-color: var(--branco); /* Branco */
    border-radius: 10px;
    text-align: center;
    padding: 20px 20px 70px 20px;
    margin-bottom: 80px;
    position: relative;
    transition: transform 0.3s ease, background-color 0.3s ease;
    box-shadow: -70px -7px 20px 0px #fff9, -4px -4px 5px 0px #fff9,
        7px 7px 20px 0px #0002, 4px 4px 5px 0px #0001;

    @media (max-width: 425px) {
        width: 80%!important;
    }

    @media (max-width: 1024px) {
        width: 30%;
    }
}

.plano ul {
    list-style: none;
    padding: 0;
    margin-top: 15px;
    text-align: left;
    padding-bottom: 40px;
}

.plano ul li {
    margin-bottom: 10px;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.4;
    position: relative; /* Para posicionar o "certinho" */
    padding-left: 25px; /* Espaço para o ícone */

    @media (max-width: 1024px) {
        font-size: 8px;
    }
}

.plano ul li::before {
    content: "✔"; /* Símbolo de marcação */
    color: var(--verde); /* Cor do "certinho" */
    position: absolute;
    left: 0; /* Posiciona à esquerda */
    top: 0; /* Alinha ao topo do item */
    font-size: 18px; /* Tamanho do ícone */
    font-weight: 700;

    @media (max-width: 1024px) {
        font-size: 12px;
    }
}

.plano h2 {
    font-size: 30px;
    margin-bottom: 20px;
    font-weight: 600;

    @media (max-width: 1024px) {
        font-size: 24px;
    }
}

.valor {
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 20px;

    @media (max-width: 1024px) {
        font-size: 28px;
    }
}

.paragrafo {
    font-size: 18px;
    margin-bottom: 20px;
    font-weight: 500;

    @media (max-width: 1024px) {
        font-size: 12px;
    }
}

.assine_btn {
    background-color: var(--branco); /* Verde água */
    font-weight: 500;
    text-decoration: none;
    color: var(--preto); /* Preto */
    padding: 10px 25px;
    font-size: 18px;
    border: none;
    cursor: pointer;
    border-radius: 30px;
    border: 1px solid var(--verde-agua);
    transition: background-color 0.3s ease;

    @media (max-width: 1024px) {
        font-size: 12px;
    }
}

.assine_btn:hover {
    background-color: var(--azul-escuro); /* Azul escuro ao passar o mouse */
    color: #edfffa;
}

/* Estilos Específicos de Cada Plano */
.Standard {
    background-color: #edfffa;
    background-image: linear-gradient(
        45deg,
        #edfffa 25%,
        #d7f3ec 25%,
        #d7f3ec 50%,
        #edfffa 50%,
        #edfffa 75%,
        #d7f3ec 75%,
        #d7f3ec
    );
    background-size: 20px 20px;
    h2,
    p,
    li {
        color: var(--preto)!important;
    }

    h3 {
        color: var(--preto)!important;
    }
}

.Plus {
    background-color: #98ded9;
    background-image: linear-gradient(
        45deg,
        #98ded9 25%,
        #b7f2ee 25%,
        #b7f2ee 50%,
        #98ded9 50%,
        #98ded9 75%,
        #b7f2ee 75%,
        #b7f2ee
    );
    background-size: 20px 20px;
    h2,
    p,
    li {
        color: var(--azul-escuro)!important;
    }

    h3 {
        color: var(--preto)!important;
    }
}

.Premium {
    background-color: #001f3f;
    background-image: linear-gradient(
        45deg,
        #001f3f 25%,
        #003b7a 25%,
        #003b7a 50%,
        #001f3f 50%,
        #001f3f 75%,
        #003b7a 75%,
        #003b7a
    );
    background-size: 20px 20px;
    color: var(--branco);
}

/* Efeito de Movimento nas Bandeiras */
.plano:hover {
    transform: scale(1.1);
}

/* Estilos da Tela de Pagamento */
.pago {
    display: none; /* Inicialmente oculto */
    text-align: left;
    margin-top: 20px;
}

.pago h3 {
    font-size: 24px;
    margin-bottom: 15px;
}

.pago p {
    font-size: 16px;
}

.pago .valor {
    font-weight: bold;
    font-size: 20px;
    margin: 10px 0;
}

.pago .confirmar {
    background-color: #28a745; /* Verde */
}

.pago .cancelar {
    background-color: #dc3545; /* Vermelho */
}
